@page "/"

<PageTitle>Home</PageTitle>

<h1>Автоматическая система анализа выполнения графика прибытия, отправления, проследования поездов</h1>


<h2>Руководство</h2>

<p>Вы можете выбрать вкладку "Trains" для отображения списка поездов</p>
<img src="/Trains.jpg"/>
<p>В этой вкладке содержится информация о поездах</p>
<img src="/TrainList.jpg"/>
<p>Вы можете найти поезд, используя его уникальный номер</p>
<img src="/TrainList1.jpg"/>
<p>Нажав на зеленую кнопку вы можете открыть подробную информацию о поезде</p>
<img src="/Train.jpg"/>
<p>Выбрав любую из диаграмм вы можете ее отобразить</p>
<img src="/Diagramm.jpg"/>
